---
apiVersion: v2
name: netbox
description: |
  An IP address management (IPAM) and data center infrastructure management (DCIM) tool.

  Important; With chart version 4.0.0 there are major upgrades to the packaged Redis and Postgres,
  as well as a major version bump of Netbox that introduces housekeeping. Take care when upgrading.
icon: https://raw.githubusercontent.com/digitalocean/netbox/develop/netbox/project-static/img/netbox.ico
appVersion: 3.0.7

type: application
version: 4.0.0
maintainers:
  - name: Alexander Olofsson
    email: ace@haxalot.com

dependencies:
  - name: postgresql
    version: '> 8, < 11'
    repository: https://charts.bitnami.com/bitnami
    condition: postgresql.enabled
  - name: redis
    version: ~15
    repository: https://charts.bitnami.com/bitnami
