---
image:
  repository: ghcr.io/matrix-org/sliding-sync
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""

replicaCount: 1

matrixServer: 'https://matrix.example.com'
## Will be generated if left empty
# syncSecret: <randomstring>

## Additional environment variables will be stored in the configuration secret
extraEnv: {}
  # SYNCV3_JAEGER_URL: http://jaeger.example.com
  # SYNCV3_DEBUG: "true"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

podAnnotations: {}

podSecurityContext:
  fsGroup: 2000

securityContext:
  capabilities:
    drop:
      - ALL
  readOnlyRootFilesystem: true
  runAsNonRoot: true
  runAsUser: 1000

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false
  serveSimpleClient: false

  className: ""
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - chart-example.local

  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources: {}
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

postgresql:
  enabled: true
  # sslmode: prefer

  auth:
    ## Change me
    password: sliding_sync
    username: sliding_sync
    database: sliding_sync

  primary:
    persistence:
      # storageClass: "-"
      size: 16Gi

externalPostgresql:
  host:
  # port: 5432
  # sslmode: require
  database: sliding_sync
  username: sliding_sync
  # password:
