{{- if .Values.wellknown.enabled }}
{{- $wkName := include "matrix-synapse.externalname" (dict "global" . "external" "wellknown-lighttpd") -}}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ $wkName }}
  labels:
    {{- include "matrix-synapse.labels" . | nindent 4 }}
    app.kubernetes.io/component: well-known
spec:
  type: {{ .Values.wellknown.service.type | default "ClusterIP" }}
  ports:
    - port: {{ .Values.wellknown.service.port | default 80 }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "matrix-synapse.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: well-known
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ $wkName }}
  labels:
    {{- include "matrix-synapse.labels" . | nindent 4 }}
    app.kubernetes.io/component: well-known
spec:
  replicas: {{ .Values.wellknown.replicaCount | default 1 }}
  selector:
    matchLabels:
      {{- include "matrix-synapse.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: well-known
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print .Template.BasePath "/well-known-config.yaml") . | sha256sum }}
      labels:
        {{- include "matrix-synapse.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: well-known
    spec:
      {{- include "matrix-synapse.imagePullSecrets" . | nindent 6 }}
      securityContext:
        {{- toYaml .Values.wellknown.podSecurityContext | nindent 8 }}
      containers:
        - name: lighttpd
          image: "{{ .Values.wellknown.image.repository }}:{{ .Values.wellknown.image.tag }}"
          imagePullPolicy: {{ .Values.wellknown.image.pullPolicy }}
          securityContext:
            {{- toYaml .Values.wellknown.securityContext | nindent 12 }}
          ports:
            - containerPort: 8080
              name: http
              protocol: TCP
          readinessProbe:
            tcpSocket:
              port: http
          livenessProbe:
            httpGet:
              path: /server-status
              port: http
          volumeMounts:
            - mountPath: /etc/lighttpd/lighttpd.conf
              name: files
              subPath: lighttpd.conf
{{- $keys := concat (list "client" "server") (keys .Values.wellknown.extraData) }}
{{- range $key := $keys }}
            - mountPath: {{ $.Values.wellknown.htdocsPath }}/{{ $key }}.json
              name: files
              subPath: {{ $key }}.json
{{- end }}
            - mountPath: /run
              name: run
          resources:
            {{- toYaml .Values.wellknown.resources | nindent 12 }}
      volumes:
        - name: files
          configMap:
            name: {{ $wkName }}
        - name: run
          emptyDir: {}
    {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
{{- end }}
